*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color:  hsl(225, 21%, 49%);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color:  hsl(225, 21%, 49%);
    border: solid black 2px;
    height: 35rem;
    width: 20rem;
}
.navUl{
  display: flex;
  justify-content: space-between;
  list-style: none; /* Remove default list styles */
}
.title{
    padding-left: 20px;
    padding-top: 10px;
}
.title{
    padding-left: 20px;
    padding-top: 4px;
    color: white;
}
.title2{
    padding-right: 20px;
    padding-top: 10px;
    color: white;
}
.display{
    margin: 20px;
    height: 3.3rem;
    background-color: hsl(223, 31%, 20%);
    color: white;
    border-radius: .5rem;
    text-align: right;
}
#value{
    padding-top: 0.6rem;
    padding-right: 10px;
}
.input{
    margin: 20px;
    height: 25rem;
    background-color: hsl(223, 31%, 20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.btn1 , .del{
    height: 3rem;
    width: 3rem;
    margin: .6rem;
    border: 0;
    border-radius: 10px;
}
.equal , .reset{
    height: 3rem;
    width: 6rem;
    margin: .6rem;
    background-color: red;
    border: 0;
    border-radius: 10px;

}